h1 {
    text-align: center;
}

body {
    text-align: center;
}

table, th, td {
    border: none;
    font-family: sans-serif;
}

td.label {
    text-align: right;
}

span {
    font-weight: bold;
}
